appdirs
asgiref
black
certifi
chardet
click
cycler
Cython
Django
django-crispy-forms
django-pandas
dlib
face-recognition
face-recognition-models
idna
imutils
joblib
kiwisolver
matplotlib
mypy-extensions
numpy
opencv-python
pandas
pathspec
Pillow
pyparsing
python-dateutil
pytz
regex
requests
scikit-learn
scipy
seaborn
six
sqlparse
threadpoolctl
toml
typed-ast
typing-extensions
urllib3