{% load static %} {% load crispy_forms_tags %}


<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script>$(document).ready(function () {
            $("#startdate").datepicker();
            $("#enddate").datepicker();
        });</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-item nav-link" href="/view_my_attendance">View Attendance</a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="/add_photos">Add FaceID</a>
                </li>

                {% else %}
                <li>
                    <a class="nav-item nav-link" href="/signup">Register</a>
                </li>

                {% endif %}
            </ul>

            {% if user.is_authenticated %}
            <span class="navbar-text">
                Hello {{user.get_short_name}}!
            </span>
            <a class="nav-item nav-link" href="/signout">LogOut</a>
            {% else %}
            <a class="nav-item nav-link" href="/signin">LogIn</a>
            {% endif %}
        </div>
    </nav>

    <div>
        <div style=" display:table;width:50%;height:100%;top:90px;left:10px;position:absolute;">
            <!-- <div style="width: 1000px;"> -->

            <form method="POST" class="col-lg-4" style="width:1200px;height: 450px;left: 100px;top:40px;background: rgba(0,0,0,0.6);margin-top:0px ; 
                color:#fff;border-radius:10px;-webkit-box-shadow: 2px 2px 15px 0px rgba(0, 3, 0, 0.7);
                -moz-box-shadow:    2px 2px 15px 0px rgba(0, 3, 0, 0.7);
                box-shadow:         2px 2px 15px 0px rgba(0, 3, 0, 0.7); align-content: center; ">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> Select Duration </legend>
                    {{form| crispy}}
                </fieldset>

                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit"> Submit</button>
                </div>
            </form>


            <!-- </div> -->
        </div>


        <div style=" display:table;width:50%;height:100%;top:50px;left:550px;position:absolute;">

            {% if messages %} {% for message in messages%}
            <div class="alert alert-{{message.tags}}" style="top:20px;width:900px;text-align: center;position:absolute;"> {{message}}
            </div>
            {%endfor %} {%endif%}

            <table class="table" style="margin-top: 5em;width:900px;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="text-align: center;">Date</th>

                        <th scope="col" style="text-align: center;">Employee</th>
                        <th scope="col" style="text-align: center;">Present</th>
                        <th scope="col" style="text-align: center;">Time in</th>
                        <th scope="col" style="text-align: center;">Time out </th>
                        <th scope="col" style="text-align: center;">Hours </th>
                        <!-- <th scope="col"> Break Hours </th> -->
                    </tr>
                </thead>
                {%if qs%}
                <tbody>
                    {% for item in qs %}
                    <tr>
                        <td style="text-align: center;">{{ item.date }}</td>
                        <td style="text-align: center;">{{ item.user.username}}</td>

                        {% if item.present %}
                        <td style="text-align: center;font-weight: bold;color:rgb(42, 221, 42);"> P </td>
                        {% else %}
                        <td style="text-align: center;font-weight: bold;color: red;"> A </td>
                        {% endif %} {% if item.time_in %}
                        <td style="text-align: center;">{{ item.time_in }}</td>
                        {% else %}
                        <td style="text-align: center;"> - </td>
                        {% endif %} {% if item.time_out %}
                        <td style="text-align: center;">{{ item.time_out }}</td>
                        {% else %}
                        <td style="text-align: center;"> - </td>
                        {% endif %}
                        <td style="text-align: center;"> {{item.hours}}</td>
                        <!-- <td> {{item.break_hours}}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>

            <!-- <div class="card" style=" margin-top: 5em; margin-bottom: 10em;">
            <img class="card-img-top" src="{% static 'recognition/img/attendance_graphs/employee_login/1.png'%}"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text" style="text-align: center;">Number of hours worked each day.</p>
            </div>
        </div> -->



        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</body>

</html>